##### 简单语法 ########
# 以斜杠“/”开头表示目录；
# /file/ 过滤整个文件夹
# file/ 过滤所有名为file文件夹下的文件,不管哪个目录
# /mtk/do.c 过滤某个具体文件
# 以星号“*”通配多个字符；
# *.zip 过滤所有.zip文件
# 以问号“?”通配单个字符
# 以方括号“[]”包含单个字符的匹配列表；
# 以叹号“!”表示不忽略(跟踪)匹配到的文件或目录；
# /mtk/ !/mtk/one.txt 过滤mtk文件夹下除one.txt外的文件
#######################

*/target
*.iml
/.idea
*.class
target/
.project
.settings/
.classpath
stralms-modules/stralms-tool/src/main/resources/application-dev.yml
/data/

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
